<h1 id="question-subject"><%= @question.subject %></h1>

<p><%= @user.name %> has posed the following question:</p>

<p>
  <blockquote id="question-text">
    <%= @question.question %>
  </blockquote>

</p>

<% if current_user != nil && current_user.id == @user.id %>
  <%= link_to "Edit this question", edit_user_question_path(@user, @question), id: "edit-button", remote: true, class: "btn btn-primary" %>

  <%= link_to "Delete this question", user_question_path(@user, @question), method: "delete", class: "btn btn-danger" %>
<% end %>

<% if current_user %>
  <%= link_to "Answer this Question", new_question_answer_path(@question, @answer), class: "btn btn-success", remote: true, id: "answer-button" unless current_user.id == @question.user_id %>
<% end %>


<div id = "answer-display">
  <ul id = "answer-list">
    <% @question.answers.each do |answer| %>
      <li><%= answer.answer %> </li>
    <% end %>
  </ul>
</div>
