<%= form_tag sessions_path, :class => 'form-horizontal' do %>
  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>

    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag "Log In", :class => 'btn btn-primary' %>
  </div>

<% end %>
